@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  user-select: none;
  background-color: white;
  overscroll-behavior: none;
  margin: 0;
}

.container {
  @apply w-[1560px] min-w-[1560px] mt-0 mx-auto h-full mdDesktop:w-[1280px] mdDesktop:min-w-[1280px] desktop:w-full desktop:min-w-[1080px] mdTablet:w-full mdTablet:min-w-full;
}

.container .row {
  @apply flex h-full py-0 px-8 phone:px-4;
}

.container .v-center {
  @apply items-center;
}

.container .space-between {
  @apply justify-between;
}

.container-fluid {
  @apply w-full h-full;
}

.container-fluid .row {
  @apply flex h-full;
}

.header {
  @apply fixed w-full h-32 z-[4] phone:h-24;
}

.header .logo a {
  @apply text-[1.2rem] tracking-[0.5rem] text-black font-bold;
}

.header .nav {
  @apply w-[25px] phone:w-4;
}

.header .nav span {
  @apply mb-[0.3rem] bg-black h-0.5 w-full block;
}

.line {
  @apply mb-2 h-14 relative overflow-hidden tablet:h-12 phone:h-8;
}

.line span {
  @apply absolute;
}
